.container{
    margin: 20px 5%;
}
.menu, #go article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu li{
    font-size: 23px;
    color: black;
    list-style-type: none;
}
.menu li:hover{
    color: blueviolet;
}
