.container{
    margin: 20px 5%;
}
.menu, #go article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu{
    justify-content: space-around;
}
.menu li{
    font-size: 23px;
    color: black;
    list-style-type: none;
}
.menu li:hover{
    color: blueviolet;
    cursor: pointer;
}
#go article{
    padding-left: 20px;
}
#go article p{
    font-size: 20px;
    width: 20%;
}
#go{
    box-shadow: 10px 10px 40px 6px rgba(0,0,0,0.34);
}
#go article:hover{
    cursor: pointer;
    box-shadow: 4px 2px 60px 22px rgba(0,0,0,0.28);
}

#table_name p{
    font-size: 14px !important;
}
#table_name:hover{
    cursor: default !important;
    box-shadow: none !important;
}